<% include partials/header %>
<% include partials/navbar %>
<div class="container">
    <button type="button" class="btn btn-outline-success mt-2 mb-2" id="btn-add"><i class="fa fa-plus"></i> Add</button>
    <form id="form-add" style="display:none">
        <div class="form-group row">
            <label for="addLetter" class="col-sm-1 col-form-label">Letter</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="letter" placeholder="Letter">
            </div>
            <label for="addFrequency" class="col-sm-1 col-form-label">Frequency</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="frequency" placeholder="Frequency">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary text-white" href=""><i class="fa fa-save"></i> Save</button>
                <button type="button" class="btn btn-outline-danger" id="btn-cancel"><i class="fa fa-refresh"></i> Cancel</button>
            </div>
        </div>
    </form>
    <h5>Search</h5>
    <hr />
    <form>
        <div class="form-group row">
            <label for="searchLetter" class="col-sm-1 col-form-label">Letter</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="searchLetter" placeholder="Letter">
            </div>
            <label for="searchFrequency" class="col-sm-1 col-form-label">Frequency</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="searchFrequency" placeholder="Frequency">
            </div>
        </div>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Letter</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>
<% include partials/script %>
<script type="text/javascript">
    const apiUrl = 'http://localhost:3000/api/data';

    $(document).ready(() => {
        $("#btn-add").click(() => {
            $("#form-add").show();
        });
        $("#btn-cancel").click(() => {
            $("#form-add").hide();
        });
        loadData();
    });

    $('#form-add').submit((e) => {
        e.preventDefault();
        addData();
    })

    const loadData = () => {
        $.ajax({
            url: apiUrl,
            method: 'GET',
            dataType: 'json'
        }).done((data) => {
            let html = '';
            data.forEach((item, index) => {
                html += `<tr>
                <td scope="row">${index + 1}</td>
                <td>${item.letter}</td>
                <td>${item.frequency}</td>
                <td><button type="button" class="btn btn-outline-warning btn-edit" data-id='${item._id}'><i class="fa fa-pencil"></i> Edit</button> <button type="button" class="btn btn-danger btn-delete" data-id='${item._id}'><i class="fa fa-trash"></i> Delete</button></td>
                </tr>`
            });
            $('table tbody').html(html);
        }).fail((jqXHR, textStatus) => {
            alert('Request failed: ' + textStatus);
        });
    }

    const addData = () => {
        let letter = $('#letter').val();
        let frequency = $('#frequency').val();
        $.ajax({
            url: apiUrl,
            method: 'POST',
            data: { letter, frequency },
            dataType: 'json'
        }).done(function (data) {
            loadData();
        }).fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
        $('#letter').val('');
        $('#frequency').val('');
    }

    $('table tbody').on('click', '.btn-delete', (el) => {
        deleteData(el.currentTarget.attributes['data-id'].nodeValue);
    });
    const deleteData = (id) => {
        $.ajax({
            url: `${apiUrl}/${id}`,
            method: 'DELETE'
        }).done(response => {
            loadData();
        });
    };

</script>
<% include partials/footer %>