<% include ./partials/header %>
<% include ./partials/navbar %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4" id="welcomeMessage"></h1>
        </div>
    </div>
    <% include ./partials/script %>
    <script src="/javascripts/navbar.js" type="text/javascript"></script>
    <script>
        $(() => {
            $('#welcomeMessage').text(`Welcome, ` + localStorage.getItem('email'));
            $('#homeMenu').addClass('active');
        })  
    </script>
<% include ./partials/footer %>