<% include partials/header %>

<div class="d-flex justify-content-center align-items-center">

  <div class="card border-primary" style="max-width: 18rem;">
    <h5 class="card-header text-white bg-primary">Header</h5>
    <div class="card-body">

      <a href="" class="btn btn-danger">Maps</a>
      <a href="" class="btn btn-success">Maps</a>
      <a href="" class="btn btn-success">Maps</a>
      <a href="" class="btn btn-success">Maps</a>
      <a href="" class="btn btn-success">Maps</a>

    </div>
  </div>

</div>




<% include partials/script %>
<% include partials/footer %>