<% include partials/header %>
<% include partials/navbar %>
<div class="container">
    <main role="main">
        <div class="card">
            <div class="card-header">
                <div>
                    <h5>
                        Line Chart
                    </h5>
                </div>
            </div>
            <div class="card-body" align="center">
                <div id="chart"></div>
            </div>
        </div>
    </main>
</div>
<% include partials/script %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    const googleChart = (linedata) => {
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawLogScales);

        function drawLogScales() {
            var data = new google.visualization.DataTable();
                data.addColumn('string', 'Date');
                data.addColumn('number', 'Frequency');
                data.addRows(linedata);

            var options = {
                hAxis: {
                    title: 'Date'
                },
                vAxis: {
                    title: 'Frequency',
                },
                height: 400,
                width: 610
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart'));

            chart.draw(data, options);
        }
    };

    const urldata = 'http://localhost:3000/api/datadate';
    const getDataDate = () => {
        $.ajax({
            url: urldata,
            method: 'GET'
        }).done(datadate => {
            let arr = datadate.map(value => {
                return [value.letter, value.frequency];
            });
            googleChart(arr);
        });
    };

    $(() => {
        getDataDate();
    });

</script>
<% include partials/footer %>