<% include partials/header %>
<% include partials/navbar %>
<div class="container">
    <a href=""><button type="button" class="btn btn-outline-success mt-2 mb-2"><i class="fa fa-plus"></i>
            Add</button></a>
    <form class="mb-2" id="form-add">
        <div class="form-group row">
            <label for="addLetter" class="col-sm-1 col-form-label">Title</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="title" placeholder="Title of Map">
            </div>
            <label for="addFrequency" class="col-sm-1 col-form-label">Latitude</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="lat" placeholder="0.0000">
            </div>
            <label for="addFrequency" class="col-sm-1 col-form-label">Longitude</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="lng" placeholder="0.0000">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary text-white" href=""><i class="fa fa-save"></i>
                    Save</button>
            </div>
        </div>
    </form>
    <h5>Search</h5>
    <hr />
    <form>
        <div class="form-group row">
            <label for="searchLetter" class="col-sm-1 col-form-label">Title</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="searchTitle" placeholder="Title of Map">
            </div>
        </div>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>
<% include partials/script %>
<script type="text/javascript">
    const apiUrl = 'http://localhost:3000/api/maps';
    $(document).ready(() => {
        loadData();
    })

    $('#form-add').submit((e) => {
        e.preventDefault();
        addData();
    })

    const loadData = () => {
        $.ajax({
            url: apiUrl,
            method: 'GET',
            dataType: 'json'
        }).done((data) => {
            let html = '';
            data.forEach((item, index) => {
                html += `<tr>
                <td scope="row">${index + 1}</td>
                <td>${item.title}</td>
                <td>${item.lat}</td>
                <td>${item.lng}</td>
                <td><a class="btn btn-success" href="">Edit</a> <a class="btn btn-danger" href="">Delete</a></td>
                </tr>`
            });
            $('table tbody').html(html);
        }).fail((jqXHR, textStatus) => {
            alert('Request failed: ' + textStatus);
        });
    }

    const addData = () => {
        let title = $('#title').val();
        let lat = $('#lat').val();
        let lng = $('#lng').val();
        $.ajax({
            url: apiUrl,
            method: 'POST',
            data: { title, lat, lng },
            dataType: 'json'
        }).done(function (data) {
            loadData();
        }).fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
        $('#letter').val('');
        $('#frequency').val('');
    }

    const deleteData = () => {

    }

</script>
<% include partials/footer %>