<% include partials/header %>
<% include partials/navbar %>
<div class="container">
    <div class="alert alert-primary mt-1" role="alert" style="display: none" id="add">
        data have been added
    </div>
    <div class="alert alert-primary mt-1" role="alert" style="display: none" id="edit">
        data have been update
    </div>
    <div class="alert alert-danger mt-1" role="alert" style="display: none" id="del">
        data have been deleted
    </div>
    <button type="button" class="btn btn-outline-success mt-2 mb-2" id="btn-add"><i class="fa fa-plus"></i>
        Add</button>
    <button type="button" class="btn btn-success text-white mt-1 mb-1" id="btn-reset"><i class="fa fa-refresh"></i>
        Refresh</button>
    <form id="form-add" style="display:none">
        <input type="hidden" id="id" value="">
        <div class="form-group row">
            <label for="addTitle" class="col-sm-1 col-form-label">Title</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="title" placeholder="Title of Map">
            </div>
            <label for="addLat" class="col-sm-1 col-form-label">Latitude</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="lat" placeholder="0.0000">
            </div>
            <label for="addLng" class="col-sm-1 col-form-label">Longitude</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="lng" placeholder="0.0000">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary text-white" href=""><i class="fa fa-save"></i>
                    Save</button>
            </div>
        </div>
    </form>
    <h5>Search</h5>
    <hr />
    <form>
        <div class="form-group row">
            <label for="searchTitle" class="col-sm-1 col-form-label">Title</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="searchTitle" placeholder="Title of Map">
            </div>
        </div>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
</div>
<% include partials/script %>
<script type="text/javascript">
    const apiUrl = 'http://localhost:3000/api/maps';
    $('#btn-add').click(() => {
        $('#form-add').toggle();
    })

    $('#btn-reset').click(() => {
        location.reload();
    });

    $(document).ready(function () {
        loadData();
        $('#form-add').submit((e) => {
            e.preventDefault();
            if ($('#id').val() == '') {
                addData();
                $('#form-add').hide();
            } else {
                editData();
                $('#form-add').hide();
                $('#edit').show()
            }
            $('#id').val('')
        });
    });

    const loadData = () => {
        $.ajax({
            url: apiUrl,
            method: 'GET',
            dataType: 'json'
        }).done((data) => {
            let html = '';
            data.forEach((item, index) => {
                html += `<tr>
                <td scope="row">${index + 1}</td>
                <td>${item.title}</td>
                <td>${item.lat}</td>
                <td>${item.lng}</td>
                <td><button type="button" class="btn btn-outline-warning btn-edit" data-id='${JSON.stringify(item)}'><i class="fa fa-pencil"></i> Edit</button> <button type="button" class="btn btn-danger btn-delete" data-id='${item._id}'><i class="fa fa-trash"></i> Delete</button></td>
                </tr>`
            });
            $('table tbody').html(html);
        }).fail((jqXHR, textStatus) => {
            alert('Request failed: ' + textStatus);
        });
    }

    const addData = () => {
        let title = $('#title').val();
        let lat = $('#lat').val();
        let lng = $('#lng').val();
        $.ajax({
            url: apiUrl,
            method: 'POST',
            data: { title: title, lat: lat, lng: lng },
            success: function (message) {
                $('#add').show()
            }
        }).done(function (data) {
            loadData();
        }).fail(function (jqXHR, textStatus) {
            alert("Request failed: " + textStatus);
        });
    }

    $('table tbody').on('click', '.btn-delete', (el) => {
        deleteData(el.currentTarget.attributes['data-id'].nodeValue);
    });
    const deleteData = (id) => {
        $.ajax({
            url: `${apiUrl}/${id}`,
            method: 'DELETE',
            success: function () {
                $('#del').show()
            }
        }).done(response => {
            loadData();
        });
    };

    $('table tbody').on('click', '.btn-edit', (el) => {
        let item = JSON.parse(el.currentTarget.attributes['data-id'].nodeValue);
        $('#title').val(item.title);
        $('#lat').val(item.lat);
        $('#lng').val(item.lng);
        $('#id').val(item._id);
        $('#form-add').show();
        editData()
    });
    const editData = () => {
        let id = $('#id').val();
        let title = $('#title').val();
        let lat = $('#lat').val();
        let lng = $('#lng').val();
        $.ajax({
            url: `${apiUrl}/${id}`,
            method: 'PUT',
            data: { title: title, lat: lat, lng: lng }
        }).done(response => {
            loadData();
        });
    };

</script>
<% include partials/footer %>