<% include partials/header %>
<% include partials/navbar %>
<div class="container">
    <main role="main">
        <div class="card">
            <div class="card-header">
                <div>
                    <h5>
                        Pie Chart
                    </h5>
                </div>
            </div>
            <div class="card-body" align="center">
                <div id="chart"></div>
            </div>
        </div>
    </main>
</div>
<% include partials/script %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    const googleChart = (piedata) => {
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Letter', 'Frequency'],
                ...piedata
            ]);

            var options = {
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart'));

            chart.draw(data, options);
        }
    };

    const urldata = 'http://localhost:3000/api/data/bar';
    const getDataDate = () => {
        $.ajax({
            url: urldata,
            method: 'GET'
        }).done(data => {
            let arr = data.map(value => {
                return [value._id, value.total];
            });
            googleChart(arr);
        });
    };

    $(() => {
        getDataDate();
    });

</script>
<% include partials/footer %>